BOT_CLIENT_ID="<YOUR_BOT_CLIENT_ID>"
BOT_CLIENT_SECRET="<YOUR_BOT_CLIENT_SECRET>"

# The absolute url of the dashboard (Production)
APP_URL="http://localhost:3000"

# The absolute url of the api endpoint of your bot (Production)
NEXT_PUBLIC_API_ENDPOINT="http://localhost:8080"