@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

body {
  font-family: 'DM Sans', 'Noto Color Emoji' !important;
  min-width: 350px;
  width: auto;
}

html,
body,
#root,
#__next {
  height: 100%;
}

option {
  color: black;
}
